<nav
  class="navbar navbar-expand-lg bg-primary-subtle position-sticky sticky-top">
  <div class="container-fluid gap-3">
    <a routerLink="/">
      <img
        src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/45/external-students-university-flaticons-lineal-color-flat-icons.png"
        width="45"
        height="45"
        alt="logo" />
    </a>

    <!-- TODO: if user auth -->
    @if (false) {

    <!-- TODO: Search component -->

    <ul class="navbar-nav mb-2 mb-lg-0 gap-3">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-danger">
          Logout
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-box-arrow-right"
            viewBox="0 0 16 16">
            <path
              fill-rule="evenodd"
              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"></path>
            <path
              fill-rule="evenodd"
              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"></path>
          </svg>
        </button>
      </li>
    </ul>
    }

    <!-- TODO: if user not auth -->
    @if (true) {
    <ul class="navbar-nav mb-2 mb-lg-0 gap-3">
      <li class="nav-item">
        <a
          class="btn btn-outline-primary"
          aria-current="page"
          routerLink="/login"
          routerLinkActive="active"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          class="btn btn-outline-primary"
          routerLink="/register"
          routerLinkActive="active"
          >Register</a
        >
      </li>
    </ul>
    }
  </div>
  <!-- </div> -->
</nav>
