<div class="student-list">
  <div class="text-center my-3">
    <button
      class="btn btn-primary active new_btn"
      data-bs-toggle="modal"
      data-bs-target="#create-student">
      New Student
      <img src="/assets/images/icons/plus-80.png" width="40px" />
    </button>
  </div>

  <!--  -->
  <div class="rounded-3 col-11 m-auto overflow-hidden">
    <div class="header d-flex justify-content-between text-white">
      <div class="text-center w-25 py-4 h5 mb-0 h6 mb-0">Name</div>
      <div class="text-center w-25 py-4 h6 mb-0 h6 mb-0">Email</div>
      <div class="text-center w-25 py-4 h6 mb-0 h6 mb-0">Mobile</div>
      <div class="text-center w-25 py-4 h6 mb-0 h6 mb-0">Age</div>
      <div class="text-center w-25 py-4 h6 mb-0 h6 mb-0">NationalID</div>
      <div class="text-center w-25 py-4 h6 mb-0 h6 mb-0">Edit/Delete</div>
    </div>

    @if(students.length){ @for (student of students; track student.ID) {
    <app-student-card [student]="student" />
    } } @else {
    <div class="d-flex justify-content-center mt-5">
      @if(loading){<app-spinner />} @else {
      <p class="text-danger h4">No Student Found</p>
      }
    </div>
    }
  </div>
</div>

<!-- Modal -->
<app-modal
  actionText="Create"
  btnShape="btn-primary"
  message="TESTTT"
  modalId="create-student"
  modalTitle="Create Student"
  [formControls]="createStudentControls"
  (modalConfirmed)="createStudent($event)" />
