<div
  class="modal fade"
  [id]="modalId"
  tabindex="-1"
  aria-labelledby="delete-studentLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title fs-5" id="delete-studentLabel">
          {{ modalTitle }}
        </div>
        <button
          #closeBtn
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body overflow-y-scroll">
        @if(formControls){
        <app-form
          [controls]="formControls"
          submitText="Create"
          (formSubmit)="modalConfirm($event)"
          [loading]="loading" />
        }@else {
        {{ message || '' }}
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        @if(!formControls){
        <button
          type="button"
          [class]="['btn', btnShape]"
          data-bs-dismiss="modal"
          (click)="modalConfirm()">
          {{ actionText }}
        </button>
        }
      </div>
    </div>
  </div>
</div>
