<!-- <div class="w-100 text-center p-2 rounded-2"> -->
<div class="d-flex justify-content-between gap-3 col-11 m-auto mb-4 mt-2">
  <input
    class="form-control"
    type="search"
    placeholder="Filter by Name"
    name="Name"
    (input)="filterBy($event)" />
  <input
    class="form-control"
    type="search"
    placeholder="Filter by Email"
    name="Email"
    (input)="filterBy($event)" />
  <input
    class="form-control"
    type="search"
    placeholder="Filter by Phone"
    name="Mobile"
    (input)="filterBy($event)" />
  <input
    class="form-control"
    type="search"
    placeholder="Filter by ID"
    name="NationalID"
    (input)="filterBy($event)" />
  <input
    class="form-control"
    type="number"
    placeholder="Filter by Age"
    name="Age"
    (input)="filterBy($event)" />
</div>
<app-student-list [students]="students" [loading]="loading" />
